@import "../../../styles/colors.scss";  
@import "../../../styles/mixins.scss";
@import "../../../styles/animations.scss";

.header {
    background-color: $primaryColor;
    padding: 40px 50px 60px;
    width: 100%;
    text-align: center;
    z-index: 1;

    @media (max-height: 768px) {
        padding: 20px 50px 30px;
    }

    &_heading {
        color: $textColor;
        position: relative;
        width: fit-content;
        margin: 20px auto;
        text-transform: uppercase;
        font-weight: 100;
    }
}